src/functionalTest/resources/testKit/test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="author" type="author"/>

<xs:complexType name="author">
    <xs:sequence>
        <xs:element name="firstName" type="xs:string" minOccurs="0"/>
        <xs:element name="lastName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
</xs:complexType>

</xs:schema>
